*{
	font-family: 'Teko';
    box-sizing: border-box;
}

header{
	padding-left: 2rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	width: 100%;
	border-bottom: 2px solid #ffb101;
	background-color: #00000099;
}

.headlink{
	display: inline-block;
  box-sizing: border-box;
  padding: 5px; 
  color: #f1f1f1;
  text-decoration: none;
  font-weight: bold;
}
.headlink:hover{
  color: #ffb101;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
}

body{
  background-color: #323232;
}
.about{
	
	font-size: 35px;
	color: #ffb101;
	text-align: center;
  text-shadow: 2px 2px 0px black;
}
.speech{
  text-align: center; 
  color: #ffb101;
  font-size: 25px;
  text-shadow: 1px 1px 0px black;
}
footer{
	position: fixed;
	font-size: 21px;
	box-sizing: border-box;
	bottom: 0vh;
	width: 100%;
	padding-top: 1rem;
	border-top: 2px solid #ffb101;
	background-color: #00000099;
}
.footer-padding{
	padding-left: 2rem;
  color: #ffb101;
  font-size: 20px;
  text-shadow: 1px 1px 0px black;
}