*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

body{
	background-color: #f54b42;
}

#icon{
	position: relative;
	width: 35px;
	height: 35px;
	left: 282px;
	bottom: 63px;
    padding: 5px;
}
/*Choose Font */
.greet{
	position: relative;
	bottom: 50px;
	font-family: "";
	font-size: 65px;
	color: white;
	text-align: center;
}
#browse{
	position: relative;
	bottom: 40px;
	left: 609px;
	height: 52px;
	width: 150px;
	border-radius: 11px;
	background-color: grey;
}
footer{
	position: relative;
	top: 80px;
}
.fotter-padding{
	padding-left: 20px;
}
